.get-started {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: rgb(60, 0, 0);
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 50px #1c1c1c, -13px -13px 50px #262626;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.get-started:hover {
  box-shadow: var(--hover-shadows);
}

.get-started:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
  transform: translateX(-50%);
}

body {
    background-color: rgb(5, 5, 5);
}

.echo-engine {
    color: rgb(224, 224, 232);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}